@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #f6edbd;
  --secondary: #171818;
}

html,
body {
  height: 100%;
  margin: 0;
  background: var(--background);
  color: white;
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
}

.font-nabla {
  font-family:
    var(--font-nabla),
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
}

.font-poppins {
  font-family:
    var(--font-poppins),
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
}

.font-righteous {
  font-family:
    var(--font-righteous),
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
